SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
ALLOWED_ORIGINS=
FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
GEMINI_API_KEY=
SECURITY_PROGRAM_PERSISTENCE=IN_MEMORY
APP_VERSION=1.0.0
